@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600;700&display=swap');


:root {
  --color-primary: #000000;
  --color-secondary: #DD0000;
	--color-additional: #FFCE00;
	
	--font-primary: 'Josefin Slab', serif;
}
