.question-section {
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: column;
	margin-top: 15rem;

	&--input {
		font-size: 3rem;
		border: none;
		padding-left: 1rem;
		margin-bottom: 1rem;
		background-color: #ffffff;
		opacity: 0.8;
		border-radius: .3rem;
		&:focus {
			outline: none;
		}
	}

	&--button {
		height: 3rem;
		width: 6rem;
		font-size: 2rem;
		color: whitesmoke;
		background-color: #F1BA38;
		border: none;
		border-radius: .5rem;
		margin-left: 1rem;

		&:hover {
			background-color: whitesmoke;
			color: #F1BA38;
			cursor: pointer;
		}
		
		&:focus {
			outline: 0;
		}
	}

}
